<!DOCTYPE html>
<html lang="en">

<head>
    <title>Empleados</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</head>

<body>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Fecha de Nacimiento</th>
			<th>DNI</th>
			<th>FranjaHoraria</th>
			<th>Es gerente</th>
			<th>Local</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="empleado : ${empleados}">
			<td><span th:text="${empleado.nombre}" /></td>
			<td><span th:text="${empleado.apellido}" /></td>
			<td><span th:text="${empleado.fechaNacimiento}" /></td>
			<td><span th:text="${empleado.dni}" /></td>
			<td><span th:text="${empleado.franjaHoraria}" /></td>
			<td><span th:text="${empleado.gerente}" /></td>
			<td><span th:text="${empleado.Local.idLocal}" /></td>
		
			<td><a th:href="@{/empleados/{id}(id=${empleado.idPersona})}">Ver</a></td>
			
		</tr>
	</tbody>
</table>
<a href="/empleados/new">Crear</a>

</body>

</html>