<form action="#" th:action="@{/empleados/create}" th:object="${empleado}"method="post">
	<p> Nombre: <input type="text" th:field="*{nombre}" /></p>
	<p> Apellido: <input type="text" th:field="*{apellido}" /></p>
	<p> Fecha de Nacimiento: <input type="date" th:field="*{fechaNacimiento}" /></p>
	<p> DNI: <input type="text" th:field="*{dni}" /></p>
	<p> Franja Horaria: <input type="text" th:field="*{franjaHoraria}" /></p>
	<p> Es gerente: <input type="text" th:field="*{gerente}" /></p>
	<p> Local:</p>
	<select placeholder="Local" th:field="*{local.idLocal}"> 
		<option th:each="l : ${locales}" th:value="${l.idLocal}" th:text="${l.idLocal}"> </option>
	</select>
	
	<input type="submit" value="Crear" />
</form>