<form action="#" th:action="@{/clientes/update}" th:object="${cliente}" method="post">
<input type="hidden" th:field="*{idPersona}" />
<p>
	Nombre: <input type="text" th:field="*{nombre}" />
</p>
<p>
	Apellido: <input type="text" th:field="*{apellido}" />
</p>
<p>
	Fecha de Nacimiento: <input type="date" th:field="*{fechaNacimiento}" />
</p>
<p>
	DNI: <input type="text" th:field="*{dni}" />
</p>
<p>
	Email: <input type="text" th:field="*{email}" />
</p>
<input type="submit" value="Editar" />
</form>
<form action="#" th:action="@{/clientes/delete/{id}(id=${cliente.idPersona})}" method="post">
	<input type="submit" value="delete person" />
</form>
<form action="#" th:action="@{/clientes/back}" method="post">
	<input type="submit" value="volver" />
</form>